<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome New!</title>
</head>
<body>
    <h1>Welcome to the Meeting Planner!</h1>
    <p>
        This is the demo application for the course
        <em>Django: Getting Started</em>
        on <a href="https://www.pluralsight.com">
        Pluralsight</a>.
    </p>

</p>
{{meeting_title}}
</p>

    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
            <li>
                <a href="{% url 'detail' meeting.id %}">
                     {{meeting.room}}
                </a>
            </li>
        {% endfor %}
    </ul>

</body>
</html>

<!---
<ul>
    {% for meeting in meetings %}
        <li>
            <a href="/meetings/{{meeting.id }}">
                 {{meeting.room}}
            </a>
        </li>
    {% endfor %}
</ul> -->